




.heading{
	text-align:center;
	font-family:catamaran;
font-size:20;
color:maroon;
}
	#CB1{
	
		width:15px;
	height:15px;
	background-color:limegreen;
	
	
	}
	#CB2{
	
		width:15px;
	height:15px;
	background-color:limegreen;

	}
	#CB3{
	
		width:15px;
	height:15px;
	background-color:limegreen;

	}
	#CB4{
	
		width:15px;
	height:15px;
	background-color:limegreen;

	}
	
	#CB5{
	
		width:15px;
	height:15px;
	background-color:limegreen;
	
	}
	
	#CB6{
	
		width:15px;
	height:15px;
	background-color:limegreen;

	}
	
	
	
	.generator{
		background-color:cream;
		width:60px;
		height:60px;
		border-radius:60px;
		
	}
	.transformer{
		width:65px;
	height:50px;
	background-color:cream;
	border-radius:50px;

	}
		

	
	
	#isolator1{
		width:15px;
		height:15px;
		transform:rotate(45deg);
	background-color:limegreen;

	}
	
	#isolator2{
		width:15px;
		height:15px;
		transform:rotate(45deg);
		background-color:limegreen;
		
}
#isolator3{
		width:15px;
		height:15px;
		transform:rotate(45deg);
	background-color:limegreen;

	}
	
	#isolator4{
		width:15px;
		height:15px;
		transform:rotate(45deg);
	background-color:limegreen;

	}
	
	
	.line1{
		
		width:15px;
		height:1px;
		background-color:black;
		
	
		
	}
	.line2{
		
		width:300px;
		height:1px;
		background-color:black;
		
		
	}
	
	
	.line3{
		width:100px;
		height:1px;
		background-color:black;
	
		
	}
	
	.line4{
		width:80px;
		height:1px;
		background-color:black;
		
	}
	
	.busbar{
		width:1px;
		height:150px;
		background-color:black;
		
	}
	
	.load{
		
		width:70px;
	height:40px;
	background-color:cream;

	}
	
	
	#container1{
		
		float:left;
	}
	
	#container2{
		
		float:left;
	}
	
	#middle{
		width:20px;
		height:62px;
		background-color:white;
		
		
	}
	
	
	
	
	
	


